boto3
catboost
colorama
datashape
db-dtypes
decorator
dnspython
fuzzywuzzy
google-cloud-bigquery
google-cloud-bigquery-storage
h11
imbalanced-learn
lightgbm
matplotlib
matplotlib-inline
networkx
numpy
optuna
pandas
pydot
pydotplus
pymongo
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
scikit-learn
scipy>=1.5
seaborn
shap
xgboost
yacs
pyod
modin[all]
distributed
openpyxl
category_encoders
snowflake-connector-python
snowflake-sqlalchemy
python-Levenshtein-wheels; platform_system=="Windows"
python-Levenshtein; platform_system=="Linux" or platform_system=="Darwin"
mlxtend==0.20.0